  .btn {
    background-color: #D2B48C; /* Цвет светло-коричневый */
    color: #FFF; /* Цвет текста кнопок */
  }
  .btn:hover {
  background-color: #FFA500; /*цвет оранжевй*/
}
  #app{
  background-color: #6b8e23;
  color: #FFF;
  }
  .navbar {
    background-color: #6b8e23; /* Цвет оливковый */
  }
  .navbar-nav .nav-link {
  color: white;
  }
  /* Применение стиля при наведении на текст */
  .navbar-nav .nav-link:hover {
    color: orange; /* Сделать цвет текста серым при наведении */
    text-decoration: underline; /* Добавить подчеркивание */
  }

  footer {
    background-color: #654321; /* Цвет темно-коричневый */
    color: #FFF; /* Цвет текста футера */
  }
  .modal-content {
    color: #000; /* Цвет текста футера */
  }
  .alert {
    display: none; /* Скрыть область для всплывающих уведомлений */
  }

#selectedRouteGuides {
    display:none;
}

.table-cell {
  vertical-align: middle;
}

.pagination .page-link {
    color: #654321; /* Темно-коричневый цвет текста */
  }
